<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Santos Custom</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="icon" href="/img/logo-lsc.ico" type="image/x-icon" />
  </head>
  <body data-bs-theme="dark">
    <nav class="navbar navbar-expand-xl bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" aria-disabled="true">Los Santos Custom</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"
                >Accueil</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stats">Statistique</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/employe">Employé</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/facture">Facture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tombola">Tombola</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/message">Message</a>
            </li>
          </ul>
          <% if (isa) { %>
          <div class="d-flex">
            <button id="gestionB" class="btn btn-primary">Gestion</button>
          </div>
          <% } %>
        </div>
      </div>
    </nav>

    <div class="container mt-5 text-center">
      <h2>Informations</h2>
      <hr class="hr hr-blurry my-5 table-group-divider" />
      <% Object.values(data).forEach(d => { %>
      <div class="card mb-5">
        <div class="card-body">
          <h5 class="card-title font-weight-bold"><%= d.t %></h5>
          <p class="card-text font-weight-bold"><%= d.v %></p>
        </div>
      </div>
      <% }) %>
    </div>
  </body>

  <script src="/js/bootstrap.js"></script>
  <script src="/js/main.js"></script>
</html>
