<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Santos Custom</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="https://raw.githubusercontent.com/Ichinistes14/lsc/refs/heads/main/public/img/logo-lsc.ico" type="image/x-icon" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" style="pointer-events: none; cursor: default">
          <img src="img/logo.svg" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Accueil </a>
          <a class="navbar-item" href="/stats"> Statistique </a>
          <a class="navbar-item" href="/employe">
            Employé
          </a>
          <a class="navbar-item" href="/facture"> Factures </a>
          <a class="navbar-item" href="/tombola"> Tombola </a>
          <a class="navbar-item has-text-weight-bold" href="/message"> Message </a>
        </div>

        <% if (isa) { %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/gestion/home">
                <strong>Gestion</strong>
              </a>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </nav>

    <div class="container is-max-tablet has-text-centered mt-6 px-5 mb-3">
      <h2 class="title is-2">Prévisualisation de message</h2>
      <div class="control my-4">
        <textarea
          class="textarea is-large has-fixed-size"
          placeholder="Écrivez votre message"
          id="messageContent"
        ></textarea>
      </div>
      <p class="buttons is-centered">
        <button type="button" class="button is-primary" id="copyMessage">
          Copier le texte
        </button>
        <button type="button" class="button is-primary" id="primeExemple">
          Prime
        </button>
        <button type="button" class="button is-danger" id="clear">Effacer</button>
      </p>
      <div id="previewMessage" class="container mt-4 has-text-left"></div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script>
    var grades = [];

    <% grades.reverse().forEach(function(g) { %>
      grades.push("<%= g.name %>");
    <% }); %>
    
    $(document).ready(function () {
      $(".navbar-burger").click(function () {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
    });
  </script>
  <script src="/js/message.js"></script>
</html>
