<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Santos Custom</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/Ichinistes14/lsc/refs/heads/main/public/img/logo-lsc.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" style="pointer-events: none; cursor: default">
          <img src="../img/logo.svg" />
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/gestion/home"> Employés </a>
          <a class="navbar-item" href="/gestion/contrats"> Contrats </a>
          <a class="navbar-item" href="/gestion/gagnants"> Gagnants </a>
          <a class="navbar-item has-text-weight-bold" href="/gestion/grades">
            Grades
          </a>
          <a class="navbar-item" href="/gestion/logs"> Logs </a>
          <a class="navbar-item" href="/gestion/users"> Utilisateurs </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/">
                <strong>Retour</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container has-text-centered mt-6 mb-3">
      <div class="section">
        <h2 class="title is-2">Grades - <%= grades.length %></h2>
      <input
        type="text"
        class="input mt-5"
        id="search-bar"
        placeholder="Nom du gagnant"
      />

      <button id="save-order" class="button is-primary mt-4">
        Sauvegarder l'ordre
      </button>
      <div class="table-container">
        <table class="table mt-4">
          <thead>
            <tr>
              <th>Nom du grade</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="grades-list">
            <tr class="editing no-sort">
              <form id="addRowForm">
                <td>
                  <input
                    type="text"
                    class="input"
                    name="name"
                    placeholder="Nom du rôle"
                  />
                </td>
                <td>
                  <button type="submit" class="button is-primary">
                    Enregistrer
                  </button>
                </td>
              </form>
            </tr>
            <% grades.forEach(function(g) { %> <% if (!g) return; %>
            <tr data-id="<%= g._id %>">
              <td><%= g.name %></td>
              <td>
                <button id="btn-del" class="button is-danger" style="border-radius: 50%;">
                  <span class="icon is-small">
                    <i class="fa-solid fa-xmark"></i>
                  </span>
                </button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
  <script>
    $(document).ready(function () {
      $(".navbar-burger").click(function () {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
    });
  </script>
  <script src="/js/grades.js"></script>
</html>
